@tailwind base;
@tailwind components;
@tailwind utilities;

/* DEMO COLOR : #CE68FE */

.input-wrapper {
  position: relative;
  /* max-width: 600px; */
}

.input {  
  font-size: 20px;
  padding: 8px 10px;
  color: #CE68FE;
  border: 1px solid #CE68FE;
  border-radius: 10px;
  transition: border-color 250ms;
  background-color: transparent;
  outline: #27272a;

  &::focus {
    outline: none;
    border-color: #CE68FE;
  }

  &::placeholder {
    color: transparent;
  }
  
  &::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
  }
}

.label {
  font-size: 20px;
  background-color: transparent;
  padding: 0 5px;
  position: absolute;
  top: 9px;
  left: 6px;
  color: #CE68FE;
  pointer-events: none;
  transform-origin: left center;
  transition: transform 300ms;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  transform: translateY(-80%) scale(0.75);
  border-color: #CE68FE;
  background-color: #27272a;
}




